.post {
  display: block;
  margin: 0px auto;
  font-family: 'Raleway', sans-serif;
  padding: 13px; }
  .post .left {
    display: inline-block;
    width: 20%;
    text-align: right;
    vertical-align: top; }
    .post .left h2 {
      color: #79C0E7; }
    .post .left h6 {
      color: #BFD0DD; }
  .post .middle {
    display: inline-block;
    width: 5%;
    text-align: center;
    position: relative; }
    .post .middle .phone > i {
      z-index: 5;
      position: relative;
      color: white; }
    .post .middle i {
      width: 5px;
      height: 5px; }
    .post .middle .line {
      background-color: #79C0E7;
      width: 5px;
      height: 215px;
      display: inherit; }
    .post .middle .circle {
      background-color: #2696d4;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      position: absolute;
      top: -4px !important;
      right: 15px;
      border: 5px solid #79C0E7; }
  .post .right {
    display: inline-block;
    width: 60%;
    background-color: #79C0E7;
    padding: 10px;
    border-radius: 5px;
    vertical-align: top;
    position: relative; }
    .post .right .arrow {
      width: 20px;
      height: 20px;
      background-color: #79C0E7;
      position: absolute;
      top: 20px;
      left: -10px;
      transform: rotate(45deg); }
    .post .right h3 {
      border-bottom: 1px solid white; }
    .post .right h3, .post .right p {
      color: white;
      padding: 5px; }
    .post .right p {
      font-size: 12px; }

.containter2 {
  margin-top: -35px; }
  .containter2 .right {
    background-color: #2696d4; }
    .containter2 .right .arrow {
      background-color: #2696d4; }

.containter3 {
  margin-top: -35px; }
  .containter3 .right {
    background-color: #79C0E7; }

@media screen and (max-width: 768px) {
  body .post {
    display: block;
    width: 100%;
    margin-top: 20px; }
  body .middle {
    display: none !important; } }
